<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <div class="body-inner">

            <%- include('../includes/navigation.ejs') %>


                <section id="main-container" class="main-container">
                    <div class="container">
                        <div class="row">

                            <div class="col-xl-12 col-lg-12">
                                <div class="content-inner-page">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4><%=service.name%></h4>
                                            <p style="word-break:break-all;"><%=service.description%></p>
                                        </div><!-- col end -->
                                    </div><!-- 1st row end-->

                                    <div class="gap-40"></div>
                                </div><!-- Content inner end -->
                            </div><!-- Content Col end -->


                        </div><!-- Main row end -->
                    </div><!-- Conatiner end -->
                </section><!-- Main container end -->


                <%- include('../includes/footer.ejs') %>
                    <%- include('../includes/end.ejs') %>