<%- include('../includes/head.ejs') %>
    </head>

    <body>

        <%- include('./includes/navigation.ejs') %>
            <div class="container mt-5 mb-5">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-md-8 col-12">
                        <h4 class="text-center">Xəbər Əlavə et</h4>
                        <form action="/ad1000/news" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="nameId">Xəbərin adı</label>
                                <input type="text" class="form-control" name="nName" id="nameId"
                                    placeholder="Xidmətin adını daxil et">
                            </div>

                            <div class="form-group">
                                <label for="nTitle">Başlıq</label>
                                <input type="text" name="nTitle" class="form-control" id="nTitle"
                                    placeholder="Başlıq daxil et">
                            </div>

                            <div class="form-group">
                                <label for="imgPathId">Şəkil</label>
                                <input type="file" name="image" class="form-control" id="imgPathId">
                            </div>

                            <div class="form-group">
                                <label for="descriptionId">Təsviri</label>
                                <textarea name="nDescription" class="form-control" id="descriptionId"
                                    placeholder="Təsviri daxil et" rows="5"></textarea>
                            </div>

                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="btn btn-primary">Əlavə et</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container" style="height: 100px">
                <h3>Xidmətlər</h3>
                <div class="row">
                    <% for (let n of news) { %>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="card" style="width: 100%; height: max-content;">
                                <div class="imgDiv" style="height: 200px">
                                    <img style='object-fit: cover;height: 100%;' class="card-img-top"
                                        src="<%= (n.imgPath.length < 6) ? 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/How_to_use_icon.svg/2214px-How_to_use_icon.svg.png' : ('/'+n.imgPath)%>" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%=n.title%>
                                    </h5>
                                    <p class="card-text">
                                        <%=n.description%>
                                    </p>
                                    <a href="news/delete/<%=n.id%>"  class="btn btn-primary" disabled>Delete</a>
                                </div>
                            </div>
                        </div>
                        <%}%>
                </div>
            </div>



            <div class="container" style="height: 400px">
                <div class="row">

                </div>
            </div>
            <%- include('../includes/end.ejs') %>